@font-face {
    font-family: 'MainFont';
    src: url("MODI_Senobi-Gothic_2017_0702/Senobi-Gothic-Medium.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SAO_Font';
    src: url("sao-ui/SAOUI-Regular.otf");
    /* font-weight: bold; */
    font-style: normal;
}